<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% @news["Data"] %>

<% for x in @news["Data"] %>
	<img src="<%= x["imageurl"] %>"><br><br>
	<strong><%= x["title"] %></strong><br>
	<%= x["body"] %><br><br>
	<a href="<%= x["url"] %>">Read more...</a><hr><br>
<% end %>